.ball-pulse > div {
	width: 10px;
	height : 10px;
}

button{
	position: relative;
}

.ball-pulse{
	padding-top: 5px;
}

.con-del{
	position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -115px;
    padding: 20px 100px;
    background: #fff;
    border: 1px solid #ee6363;
    height: 150px;
    width: 330px;
}