<div class="page-header d-flex justify-content-between">
  <h1 class="page-title">Students</h1>
  <button type="button" class="btn btn-outline-primary"  (click)="showform()" data-toggle="modal" data-target="#addStudentForm" #formtoggle>Add Students</button>
</div>
<table class="table" *ngIf="students else message">
  <tr>
    <th>SN</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Class</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let student of students; let i=index" [@fallIn]='state'>
    <td>{{i+1}}</td>
    <td>{{student.f_name}} {{student.l_name}}</td>
    <td>{{student.email}}</td>
    <td>{{student.classID}}</td>
    <td>{{student.address}}</td>
    <td>{{student.phone}}</td>
  	<td>{{student.gender}}</td>
    <td>
      <button class="btn btn-link" (click)="editStudent(student._id, i, formtoggle)" data-toggle="modal" data-target="#addStudentForm">Edit</button>
      <button class="btn btn-link" (click)="deleteStudent(student._id , i)">Delete</button>
    </td>
  </tr>
</table>

<ng-template #message>
  <div *ngIf="msg" class="alert-warning text-center" [@fallIn]='state'>
      {{ msg }}
  </div>
  <div *ngIf="!msg">
    <div class="loader"><div class="ball-triangle-path"><div></div><div></div><div></div></div></div>
  </div>
</ng-template>





<!-- Form Modal -->
<div class="modal fade" id="addStudentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="formshow">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form  (ngSubmit)="addStudent(closeform)"   >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Please add your students</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="firstrname" class="form-control" [(ngModel)]="student.f_name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastname" class="form-control" [(ngModel)]="student.l_name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email Adderss</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="student.email">
          </div>
          <div class="form-group">
            <label for="">Class</label>
            <select class="form-control" name="grade" [(ngModel)]="student.classID">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="student.gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
        <button type="submit" class="btn btn-primary">Add Students</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeform>Close</button>
      </div>
      </div>
    </form>
  </div>
</div>
