@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import "~loaders.css/src/_functions";
@import "~loaders.css/src/_variables";
@import "~loaders.css/src/_mixins";
@import "~loaders.css/src/loaders";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "global";


body{
	overflow-x: hidden;
}

.main-container{
	padding-left: 10px;
	padding-right:10px 
}

.card{
	margin-bottom: 10px;
}

.loader {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	height: 200px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.ball-triangle-path > div{
  border: 1px solid #343a40 !important;
}