<div class="row">
  <h3 class="text-center col-md-12">
    Hello Admin
  </h3>
  <br>
  <br>
  <div class="col-md-6">
    <div class="card">
      <div class="card-title text-center">Students</div>
      <div class="card-body">
        <ng-template *ngIf="students; else loader">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Class</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
          </table>
          <a class="btn btn-primary float-left" routerLink="students">Manage Students</a>
        </ng-template>
        <ng-template #loader>
            <div _ngcontent-c5="" class="loader">
              <div _ngcontent-c5="" class="ball-triangle-path"><div _ngcontent-c5="" class="ng-tns-c5-1"></div><div _ngcontent-c5="" class="ng-tns-c5-1"></div><div _ngcontent-c5="" class="ng-tns-c5-1"></div></div>
            </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-title text-center">Subjects</div>
      <div class="card-body">
        <ng-template *ngIf="subjectList; else loader1">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Full Mark</th>
                  <th scope="col">Pass Mark</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let subject of subjectList; let i = index" [@fallIn]='state'>
                  <tr *ngIf="i < 3">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{subject.name}}</td>
                    <td>{{subject.fullMark}}</td>
                    <td>{{subject.passmark}}</td>
                  </tr>
                </ng-container>
                  
              </tbody>
          </table>
          <a class="btn btn-primary float-left" routerLink="subjects">Manage Subjects</a>
        </ng-template>
        <ng-template #loader1>
            <div _ngcontent-c5="" class="loader">
              <div _ngcontent-c5="" class="ball-triangle-path"><div _ngcontent-c5="" class="ng-tns-c5-1"></div><div _ngcontent-c5="" class="ng-tns-c5-1"></div><div _ngcontent-c5="" class="ng-tns-c5-1"></div></div>
            </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>