<div class="row">
  <h3 class="text-center col-md-12">
    Hello Admin
  </h3>
  <br>
  <br>
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-title text-center">Students</div>
      <div class="card-body">
        <ng-container *ngIf="students else loader">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let student of students; let i=index" [@fallIn]='state'>
                <tr *ngIf="i < 3">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{student.f_name}} {{ student.l_name}}</td>
                  <td>{{student.classID}} </td>
                  <td>{{student.address}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
        <ng-template #loader>
          <div class="loader" *ngIf="!stuMsg else stuerr">
            <div class="ball-triangle-path">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <ng-template #stuerr>
            <div [@fallIn]='state'>{{ stuMsg }}</div>
          </ng-template>
        </ng-template>
        <a class="btn btn-primary float-left" routerLink="students">Manage Students</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-title text-center">Subjects</div>
      <div class="card-body">
        <ng-container *ngIf="subjectList; else loader1">
          <table class="table" *ngIf="subjectList.length > 0 else msg" [@fallIn]='state'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Full Mark</th>
                <th scope="col">Pass Mark</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let subject of subjectList; let i = index" [@fallIn]='state'>
                <tr *ngIf="i < 3">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{subject.name}}</td>
                  <td>{{subject.fullMark}}</td>
                  <td>{{subject.passmark}}</td>
                </tr>
              </ng-container>

            </tbody>
          </table>
          <ng-template #msg>
            <div [@fallIn]='state'>
              No subject added yet
            </div>
            <br>
          </ng-template>
        </ng-container>
        <ng-template #loader1>
          <div class="loader" *ngIf="!subMsg else suberr">
            <div class="ball-triangle-path">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <ng-template #suberr>
            <div [@fallIn]='state'>{{ subMsg }}</div>
          </ng-template>
        </ng-template>
        <a class="btn btn-primary float-left" routerLink="subjects">Manage Subjects</a>
      </div>
    </div>
  </div>
</div>